doctype
html(dir=dir,data-theme=1)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="this is a web project")
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="../images/favicon-32x32.png"
    )
    title Calculator App
    link(rel="stylesheet", href="css/main.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", id="font-url" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap")
  body
    main
      header
        h1 calc
        div
          span theme
          .theme-control
            - var i = 1;
            while i <= 3
              button(class=`theme${i}`,data-theme=i++)
      section.keypad 399,981
      section.keys
        .natural-numbers
          - var n = 1;
          while n <= 9
            button(data-value=n) #{n++}
        button.delete.btn-text del
        button.plus +
        button.minus -
        button.reset.btn-text reset
        button.equal =
        button.dot .
        button.zero 0
        button.division /
        button.multiply x
    script(src="js/main.js")